/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}

nav .navbar-brand .red
{
    color: #ea433b;
}

nav .navbar-brand .yellow
{
    color: #f5b82e;
}

nav .navbar-brand .green
{
    color: #2e944b;
}

table .table
{
    border-collapse: collapse;
    caption-side: bottom;
    margin-bottom: 1rem;
    width: 100%;
}

td
{
    text-align: center;
}

tr:nth-child(even)
{
    background-color: #f0f0f0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 100%;
}

.text-center{
    text-align: center !important;
}

.text-end{
    border-bottom-width: 1px;
    padding: .5rem;
    text-align: right !important;
}

.text-start{
    border-bottom-width: 1px;
    padding: .5rem;
    text-align: left !important;
}
