.accordion{
  background-color: #893f71;
}

.accordion-body{
  background-color: #cfa093;
}

.accordion-button{
  background-color: #cfa093;
  color: #893f71;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  margin-top: 25px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  z-index: 0;
}

.accordion-collapse{
  background-color: #cfa093;
}

.accordion-item{
  background-color: #f3d0a4;
}

.accordion-header{
  opacity: 0.8;
}

.banner{
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
}

.card{
  background-color: #cfa093;
  margin:60px;
}

.card-body{
  background-color: #cfa093;
  width: 300px;
  height: 450px;
}

.card-footer{
  font-family: 'Kaushan Script', cursive;
  color: black;
  font-size: 15px;
}

.card-group{
  font-family: 'Kaushan Script', cursive;
  color: black;
  font-size: 20px;
}

.card-img-top{
  position: relative;
  width: 300px;
  height: 200px;
  left: 20px;
}

.card-title{
  font-family: 'Kaushan Script', cursive;
  color: black;
  font-size: 30px;
  text-align: center;
}

.card-text{
  font-family: 'Kaushan Script', cursive;
}

.carousel-caption{
  font-family: 'Kaushan Script', cursive;
}

.carousel-control-next-prev{
  opacity: 0.95;
  color: #black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #f3d0a4;
}

.carousel-control-next{
  cursor: grab;
}

.carousel-control-next-icon{
  border-style: dotted;
}

.carousel-control-prev{
  cursor: grab;
}

.carousel-control-prev-icon{
  border-style: dotted;
}

.carousel-image{
  border-style: double;
  border-color: #f3d0a4;
}

.carousel-inner{
  border-style: double;
  border-color: #660e60;
}

.carousel-indicators{
  visibility: hidden;
}

.carousel-item{
  border-style: double;
  border-color: #f3d0a4;
}

.clearfix:after {
  content: "";
  display: table;
}

.col {
  width: 300px;
  height: 200px;
  size: 50%;
}

.collapse{
  box-shadow: 5px 10px;
}

.container {
  text-align: left;
  margin:0px;
}

.d-block{
}

.desc {
  padding: 15px;
  text-align: center;
}


.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 1000px;
  height: 600px;
  margin: 10px auto 20px;
  display: block;
}

.icon{
  width: 125px;
  position: absolute;
  top: 110px;
  left: 1137px;
  border: 1px solid #000000;
}

.nav-item{
  opacity: 0.95;
}

.nav-link{
  font-size: 35px;
  z-index: 1;
  font-family: 'Shrikhand', cursive;
  color: #893f71;
  background-color: #cfa093;
  margin-bottom: 10px;
  border-radius: 15px;
}

.navbar{
  margin-right: 80px;
  opacity: 0.95;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #660e60;
}

.navbar-brand{
  position: absolute;
  background-color: #f3d0a4;
}

.navbar-nav{
  z-index: 1;
  position: absolute;
  right: 175px;
  background-color: #f3d0a4;
}

.navbar-toggler{
  height: 100px;
  width: 100px;
  background-color: #cfa093;
  color: #660e60;
}

.responsive {
  width: 49.99999%;
  margin: 6px 0;
  width: 100%;
}

.row{
  padding-top: 30px;
}

.sr-only{
  color: #660e60;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

}

.text-body-secondary{
}

.text-left{
  color: #660e60;
  padding-left: 25px;
  text-align: left;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 60px;
  font-family: 'Monoton', cursive;
  font-size: 100px;
  color: #f3d0a4;
}

.w-100 {
  width: 100%;
  height: 70vh;
}

a {
  background-color: #f3d0a4;
}

body {
  background-color: #f3d0a4;
}

h1 {
  font-size: 50px;
  font-family: 'Shrikhand', cursive;
  color: #893f71;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  color: #f3d0a4;
  font-size: 50px;
}

h3 {
  font-family: 'Kaushan Script', cursive;
  color: #660e60;
  float: left;
  font-size: 25px;
  padding: 30px;
}

h4 {
  font-family: 'Kaushan Script', cursive;
  color: #660e60;
  font-size: 25px;
  padding: 10px;
}

head {
  background-color: #f3d0a4;
  opacity: 0.3;
}
