<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Update Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">
                <h2>Update a Birthday</h2>
                {% for row in rows %}
                    <form action="{{ url_for('update', id=row.id) }}">
                {% endfor %}
                        <input type="text", name="updated_name", value="{{ name }}">
                        <input type="submit", value="updated_name" class="btn btn-secondary">
                    </form>
            </div>
        </div>
