{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>All Transactions</h2>
    <main class="container py-5 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Type</th>
                    <th class="text-end">Transacted</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <!-- Include the stock’s symbol -->
                    <td class="text-start">{{ transaction['symbol'] }}</td>
                    <!-- The number of shares bought or sold -->
                    {% if (transaction['type'] == "SELL") %}
                        <td class="text-end">{{ transaction['shares'] * - 1 }}</td>
                    {% else %}
                        <td class="text-end">{{ transaction['shares'] }}</td>
                    {% endif %}
                    <!-- The (purchase or sale) price -->
                    <td class="text-end">{{ transaction['price'] | usd }}</td>
                    <!-- Make clear whether a stock was bought or sold -->
                    <td class="text-end">{{ transaction['type'] }}</td>
                    <!-- The date and time at which the transaction occurred. -->
                    <td class="text-end">{{ transaction['time'] }}</td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </main>

{% endblock %}