{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h2>All Transactions</h2>
    <table style="width:100%">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['symbol'] }}</td>
                if transaction['type'] == "SELL"
                {<td>{{ transaction['shares'] * - 1 }}</td>}
                else
                {<td>{{ transaction['shares'] }}</td>}
                <td>{{ transaction['price'] | usd }}</td>
                <td>{{ transaction['type'] }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}