{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h2>Portfolio</h2>
    <table style="width:100%">
            <tr>
                <!-- stocks the user owns -->
                <th>Symbol</th>
                <!-- Name of the stocks the user owns -->
                <th>Name</th>
                <!-- Numbers of shares owned -->
                <th>Shares</th>
                <!-- Current price of each stock -->
                <th>Price</th>
                <!-- Display a grand total (i.e., stocks’ total value plus cash). -->
                <th>TOTAL</th>
            </tr>

            {% for symbol in stocks_dict %}
                <tr>
                    <td>{{ symbol }}</td>
                    <td>{{ symbol }}</td>
                    <td>{{ stocks_dict[symbol] }}</td>
                    <td>{{ prices[loop.index] | usd}}</td>
                    <td>{{ (prices[loop.index] * stocks_dict[symbol]) | usd}}</td>
                </tr>
                {% endfor %}
                <tr style="border-top:1px solid black">
                    <th></th>
                    <th></th>
                    <th></th>
                    <!-- the total value of each holding (i.e., shares times price) -->
                    <th>Holdings</th>
                    <td>{{ sum | usd}}</td>
                    <!-- display the user’s current cash balance -->
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>

                    <th>Cash</th>
                    <td>{{ cash | usd }}</td>
                    <th></th>
                    <th></th>
                    <th></th>
                    <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <!-- display a grand total (i.e., stocks’ total value plus cash). -->
                    <th>TOTAL</th>
                    <td>{{ total | usd }}</td>
                    </tr>
                    </tr>

                </tr>

    </table>


{% endblock %}