{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<h2>Portfolio</h2>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Cash</th>
                <th>Total value</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
                {% set i = 0 %}
                {% if i <= purchases|length %}
                    {% if purchase["symbol"] == purchases[i]["symbol"] %}
                        {% set symbol = purchase["symbol"] %}
                        {% set shares = shares + (purchase['shares']) %}
                        {% set price = purchase["price"] %}
                        {% if purchase["type"] == "BUY" %}
                            {% set sum = sum + price %}
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endif %}
                {% endif %}
            <tr>
                <td>{{ symbol }}</td>
                <td>{{ shares }}</td>
                <td>{{ price }}</td>
        {% endfor %}
                <td>{{ cash }}</td>
                <td>{{ sum }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}