{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<h2>Portfolio</h2>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Cash</th>
                <th>Total value</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            i = 0
            {% if i < len(purchases) %}
                {% if purchase["symbol"] == purchases[i]["symbol"] %}
                    symbol = purchase["symbol"]
                    shares = shares + int(purchase['shares'])
                    price = purchase["price"]
                    {% if purchase["type"] == "BUY" %}
                        sum = sum + price
                    i += 1
            <tr>
                <td>{{ purchase["symbol"] }}</td>
                <td>{{ purchase["shares"] }}</td>
                <td>{{ purchase["price"] }}</td>
        {% endfor %}
                <td>{{ cash }}</td>
                <td>{{ sum }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}